@import '../SideNavigation';


.priceBar {
  span {
	border-color: $icons-color;
	background: $icons-color;

	svg {
	  color: $dark-gray;
	}
  }

  div :hover {
	  cursor: pointer;
	  border-color: white;
	  background: white;
  }
//  margin: 8px;
  padding: 5px;
}


