@import '../Header';

.cart-icon{
  position: relative;
}

.cart-counter {
  position: absolute;
  top:5px;
  right:0px;
  background: $blood-red-color;
  width:26px;
  height:26px;
  border-radius:50%;
  color:white;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;

}