$blood-red-color: #b20715;
$dark-gray: #191919;
$icons-color: lighten($dark-gray,30%);

.custom-container {
     min-width: 90%;
     
}

.App-header {
    font-size: 40px;
    background-color: $dark-gray;
    display:flex;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

.logo {
    font-family: 'Metal Mania', cursive;
    color: $blood-red-color;
    margin:auto 0;
}

.icon {
    color: $icons-color;
    font-size: 30px;
    margin: auto 10px;
}

 .icon :hover{
     color: white;
     cursor: pointer;
 }

.searchBar {
    span {
        border-color: $icons-color; 
        background: $icons-color;

        svg {
            color: $dark-gray;
        }
    }

    div :hover {
        cursor: pointer;
        border-color: white; 
        background: white;
    }
    margin: 15px;
}

.dropDown {
    display: none;
    position: absolute;
    left:0;
    top:100%;
    border-radius: 0 20px 20px 20px;
    width: 110px;
    color: $dark-gray;
    background:white;
    font-size: 20px;
    text-align: center;
  	box-sizing:border-box;
  	padding:5px 0 ;

	button{
	  margin: 5px auto ;
	  width:80%;
	  background: $dark-gray;
	  border-radius: 20px;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  &:hover {
		border:1px solid white;
	  }

	  &:active {
		border:none;
	  }
	}

}

.loginIcon {
    height:100%;
  	display:flex;
	flex-direction: column;
	align-items: center;
}

.loginDrop {

  svg {
	color: $icons-color;
	font-size: 30px;
	margin: auto 10px;
  }

  &:hover{
	background: white;
	border-radius: 20px 20px 0 0;
	position: relative;
	border-bottom:1px solid white;

	svg {
	  color: $dark-gray;
	}

	.dropDown {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
  }

}

