$blood-red-color: #b20715;
$background-dark-gray: #191919;
$icons-color: white;

.App-header {
    font-size: 40px;
    background-color: $background-dark-gray;
}

.logo {
    font-family: 'Metal Mania', cursive;
    color: $blood-red-color;
    margin:auto;
}

.icon {
    color: $icons-color;
    font-size: 30px;
    margin:auto 10px;
}

.icon :hover{
    cursor: pointer;
}

.searchBar {
    margin: 10px;
}